.content{
    background-color: black;
}

#container{
    width: 900px;
    margin: 0px auto;
    padding-bottom: 50px;
    padding-top: 0pc;
    text-align: center;
    color: white;
    /*border-left: 50px solid red;
    border-right: 50px solid red;*/
}
#headline{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
    padding-top: 25px;
}

#byline {
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding-bottom: 25px;
    text-align: center;
    }

    .hero-container{
        position: relative;
        text-align: center;
        color: white
    }

    .hero-image{
        width:100%;
    }

.overlay{
    position: absolute;
    width: 100%;
    top: 20%;
    background: black;
    opacity: .7;
}

.courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
  }

.hero-headline{
    padding-top: 10px;
    margin: 0 auto;
    font-size: 6em;
    font-family: /*"Courier Prime"*/, 'Times New Roman', Times, serif;
}

.hero-sub-headline{
    padding-top: 10px;
    margin: 0 auto;
    font-size: 2em;
    font-family: "Courier Prime", 'Times New Roman', Times, serif;
}


.chapter_headline{
    text-align: left;
    margin-left: 25px;
    font-size: 25px;
    margin-bottom: 15px;
}
.chapter_text{
    text-align: left;
}

#sonia_pic{
    width:100%;
}

#grace{
    width: 100%;
}

.quote{
    font-family: "Courier Prime", Arial, Helvetica, sans-serif;
    color: #F23030;
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    border: 5px solid #F23030;
}

#jamesjoyce{
    width: 500px;
}
.caption{
    text-align: left;
    margin-left: 200px;
}
.col-md-4{
    text-align: center;
    font-size: 2em;
    padding-top: 25px;
}
#footer{
    background-color: aquamarine;
    width: 100%;
    text-align: center;
}

@media(max-width: 600px) {
.hero-headline{
    font-size: 1.5em;
}
}