/* styles for my resume */
#masthead{
    width: 100%;
}
#new_title{
    text-align: right;
    margin-right: 60px;
    font-size: 75px;
}
.col-md-3{
    text-align: center;
    color: white;
}
.og_color {
    color:inherit;
 }
.bi-envelope{
    font-size: 4em;
}
.bi-linkedin{
    font-size: 4em;
}
.bi-twitter-x{
    font-size: 4em;
}
.bi-github{
    font-size: 4em;
}
.bi-cup-hot-fill{
    color:#33458e;
    font-size: 3em;
}
.bi-pencil-square{
    color:#33458e;
    font-size: 3em;
}
.bi-newspaper{
    color:#33458e;
    font-size: 3em;
}
.bi-book-half{
    color:#33458e;
    font-size: 3em;
}
.bi-highlighter{
    color:#33458e;
    font-size: 3em;
}
.bi-mortarboard-fill{
    color:#33458e;
    font-size: 3em;
}
BODY {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1em;
    /*color:#444;*/
    font-weight: 400;
}
#container{
    width:100%;
    max-width: 1200px;
    margin: 0px auto;
    padding-bottom:25px;
}
/*change h1 here right? Clarify with professor next class */
#name {
    font-size:3em;
    text-transform:uppercase;
    text-align:center;
    color:#33458e;
    border-bottom: 1px solid #33458e;
    border-top: 30px;
    width: 60%;
    min-width: 300px;
    margin:0px auto;
}
strong {
    color:#33458e;
    text-transform:uppercase;
    font-size:1.5em;
}
/*Only three of these in the resume*/
.sectionheader{
    background-color:#33458e;
    color:white;
    font-size:1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 100%;
    text-align: center;
    font-size: 50px;
    border: 500px;
}
.jobtitle{
    font-weight:600;
    font-size:1.5em;
    text-align: center;
    border-top: 15px;
}
.organization{
    font-size:1.25em;
    text-align: center;
}
/*do I need to specify "margin-left: 0px" and "margin-right: 0px" or is that an automatic process? */
.date{
    font-style: italic;
    margin-top: 2px;
    text-align: center;
}
.description{
    margin-top: 10px;
    margin-bottom: 10px;
}
.school{
    font-size: 25px;
}
#umd{
    color: red
}
#umbc{
    color:rgb(223, 223, 35);
}
/*put education here*/
.menu{
    margin:0px;
    padding: 0px;
    display:inline;
}
#degrees{
    margin-top: 5px;
}
#do{
    margin-top: 5px;
}
/* Had to double check that text-align was the right command for centering text.*/
#title{
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
}
.footer{
    background-color:#33458e;
    width: 100%;
}
/*can't get this guy to work... trying to get the writing beneath the masthead to match the writing in the masthead. Why isn't it working?*/
@media screen and (max-width: 480px) {
    #new_title{
        color: teal;
    }
   }