#content{
    width: 900px;
    margin: 0px auto;
    padding-bottom: 50px;
}
#masthead{
    background-color:rgb(5, 40, 196);
    color: whitesmoke;
    padding-bottom: 60px;
    font-size: 4em;
    font-family: Georgia, Times, serif;
    text-align: center;
}
/* maybe find a better one? */
#headline{
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
    padding-top: 25px;
}
#name {
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 25px;
    padding-top: 25px;
}
#byline {
    font-size: 1em;
    font-family: Helvetica, sans-serif;
    font-style: italic;
    padding-bottom: 25px;
}
/*Does this look okay Julian? Check before turning in.*/
.heading{
    font-size: 25px;
    text-align: center;
    font-family: Georgia, sans-serif;
    padding-bottom: 25px;
    padding-top: 25px;
}
body{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}
/*Different font?*/
img {
    width: 800px;
}
#pic_1{
    width:800px;
}
#double_pic{
    width:850px;
}
.caption{
    padding-bottom: 10px;
}
blockquote {
    text-align: left;
    font-style: italic;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#last_pic{
    width: 900px;
}
